name: Build & push helm Chart

on:
  push:
    branches: [ "master", "main" ]
    tags: [ "edge-*", "v*", "pf9-*" ]
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to build"
        required: true
        type: string

env:
  CHART_TAG: ${{ github.event.inputs.tag || github.ref_name }}

jobs:
  helm:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: azure/setup-helm@v4
        with:
          version: 3.3.4
      - uses: chrisdickinson/setup-yq@latest
      - name: Building dependencies
        run: |-
          helm repo add clastix https://clastix.github.io/charts 
          helm dependency build ./charts/kamaji
      - name: Change the version in Chart.yaml
        run: |
          yq -i '.version="'${{ env.CHART_TAG }}'"' ./charts/kamaji/Chart.yaml
          yq -i '.appVersion="'${{ env.CHART_TAG }}'"' ./charts/kamaji/Chart.yaml
      - name: helm package
        run: helm package ./charts/kamaji
      - name: helm login
        run: helm login https://quay.io -u ${{ secrets.QUAY_IO_USERNAME }} -p ${{ secrets.QUAY_IO_TOKEN }}
      - name: helm push
        run: helm push ./charts/kamaji-*.tgz

